# macOS
.DS_Store
.Spotlight-V100
.Trashes

# npm
node_modules
bower_components
.grunt

# jshint
.jshintrc
jshint-reporter.js
log/**/*.log

# dist
dist

# misc
_SpecRunner.html
js/templates

# demos
.min.js
.min.js.map
demos/_demo-11
demos/_demo-birds
demos/_demo-camera
demos/_demo-game-behaviors
demos/_demo-test
demos/demo-gyro
demos/demo-simulation
demos/demo-sprite-animation
demos/demo-sprite-grid
demos/demo-textbox
